/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    --light: #F5F5F5;
    --secondary: #CED4DA;
    --primary: #0D6EFD;
    --primary-hover: #0A58CA;
    --dark: #212529;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--dark);
}

a, a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter";
}

h1, h3 {
    letter-spacing: 0.1em;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

h4 {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}

footer {
    text-align: left;
    align-items: center;
    background-color: var(--dark);
}

footer h2, footer h4 {
    color: white;
}

footer h2 {
    margin-bottom: 0px;
}

footer p {
    margin: 0px 0px 2px 0px;
    color: var(--secondary);
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0px 160px 0px 160px; 
    padding-top: 64px;
    row-gap: 30px;
}

/* Footer for mobile devices */
@media (max-width: 991px) {
    footer .footer-container {
        margin: 0px 20px 0px 20px;
    }
}

footer .footer-icon {
    margin: 8px 16px 0px 0px;
}

footer .footer-slogan {
    margin: 0px 0px 16px 0px;
}

footer .footer-copyright {
    text-align: center;
}

footer .footer-copyright p {
    margin: auto;
    margin-top: 32px;
    padding-bottom: 32px;
}

footer .footer-copyright img {
    max-width: 90vw;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--primary);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #3d8bfd;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--primary);
    border-top-color: #ffe9e3;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(24, 21, 43, 0.85);
    padding: 10px 0;
}

#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar > ul > li {
    white-space: nowrap;
    padding: 8px 12px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar > ul > li > a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--primary);
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #fff;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
    border: 2px solid #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: var(--primary-hover);
    border-color: var(--primary);
}

.navbar > ul > li > .getstarted:before {
    visibility: hidden;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #15222b;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: var(--primary);
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(33, 37, 41, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #15222b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: var(--primary);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: var(--primary);
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    padding: 0;
}

#hero:before {
    content: "";
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero .bg-vid-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero video.cover {
    width: 100%;
    min-width: 180vh;
    height: auto;
}

#hero .parallax video {
    position: fixed;
    top: 0;
    z-index: -999;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

#hero h2 {
    color: #adb5bd;
    margin-bottom: 50px;
    font-size: 24px;
}

#hero .btn-get-started {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 35px 10px 35px;
    border-radius: 8px;
    transition: 0.5s;
    color: #fff;
    background: var(--primary);
    border: 2px solid var(--primary);
}

#hero .btn-get-started:hover {
    border-color: #fff;
    background: rgba(160, 80, 255, 0.1);
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

/* Remove scroll icon on mobile devices */
@media (max-width: 768px) {
    #scroll-icon {
        display: none;
    }
}

/*--------------------------------------------------------------
# Main Section
--------------------------------------------------------------*/

.hero-container > img {
    margin-top: 64px;
}

.underline {
    margin-top: 32px;
}

#main section {
    text-align: center;
    position: relative;
    /* Использовался раньше для корректного отображения блоков */
    /* Сейчас, вроде как, всё работает и без этой строчки ¯\_(ツ)_/¯ */
    /*min-height: 100vh;*/
    background-color: var(--light);
}


/* ABOUT */

#about-container {
    padding: 48px;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#main #about {
    background: var(--dark);
    min-height: 50vh;
    max-height: 100vh;
}

#main #about:before {
    content: "";
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#main #about h3 {
    padding-top: 96px;
    color: white;
    text-align: center;
}


#main #about p {
    margin: auto;
    margin-top: 64px;
    padding-bottom: 32px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 768px;
    color: white;
}

/* SERVICES */


#main #services h3 {
    padding-top: 64px;
    color: black;
}

#main > #services > p {
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 768px;
    color: black;
}


.service-card {
    position: relative;
    border: 1px solid var(--secondary);
    border-radius: 16px;
    height: 256px;
    width: 256px;
}

.service-card-icon {
    margin: 32px 0px 0px 0px;
}

.service-card-heading {
    position: relative;
    margin: 24px 0px 0px 0px;
}

.service-card-bottom {
    margin: 16px 0px 0px 0px;
}

.service-card-bottom * {
    margin: 0;
}

.service-card-bottom p {
    color: var(--secondary);
}

.service-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    padding-bottom: 16px;
    padding-top: 77px;
    padding-left: 32px;
    padding-right: 32px;
}

.service-card-overlay-text {
    color: white;
}

.service-card-overlay-text-action {
    color: var(--primary);
}

.service-card-overlay *{
    margin: 0;
}

.service-card-overlay p:first-child {
    font-size: 0.875em;
}

.service-card,
.service-card *{
    transition: all 0.3s ease-out 0s;
}

/*** SERVICE CARDS ANIMATION ON HOVER ***/
/* DEFAULT STATE  */

.service-card {
    background-color: white;
}

.service-card-icon {
    opacity: 100%;
}

.service-card-heading {
    color: var(--dark);
    top: 0px;
}

.service-card-bottom {
    opacity: 100%;
}

.service-card-overlay {
    height: 0;
}


/* HOVERED STATE */

.service-card:hover .service-card-overlay {
    height: 100%;
}
 
.service-card:hover {
    background-color: var(--dark);
}

.service-card:hover .service-card-icon {
    opacity: 0%;
}

.service-card:hover .service-card-heading {
    top: -120px;
    color: white;
}

.service-card:hover .service-card-bottom {
    opacity: 0%;
}



/* SERVICE CARDS ADAPTATION FOR MOBILE DEVICES */
@media (max-width: 768px) {
    
    .service-card {
        /* REMOVE ANIMATION */
        pointer-events: none;
        background: var(--dark);
    }
    
    .service-card-icon {
        /* Костыль, найти другой способ поменять цвет у SVG-иконки */
        filter: invert(100%) sepia(97%) saturate(12%) hue-rotate(236deg) brightness(104%) contrast(103%);
        
        width: 64px;
        height: 64px;
    }
    
    .service-card-heading {
        color: white;
        margin-top: 16px;
    }
    
    .service-card-bottom {
        display: none;
    }
    
    .service-card-overlay {
        padding-top: 157px;
        padding-left: 23px;
        padding-right: 23px;
        height: 100%;
    }
    
    .service-card-overlay p:last-child {
        display: none;
    }
}


/* RECENT POSTS */

#recent-posts {
    padding-bottom: 64px;
}

#recent-posts-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 34px;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
    margin-top: 26px;
}

.recent-post {
    text-align: left;
    padding: 32px;
    border: 1px solid var(--secondary);
    border-radius: 16px;
    background-color: white;
    max-height: 800px;
    max-width: 544px;
}

.recent-post > a > img {
    margin-top: 32px;
    width: 100%;
    height: auto;
}

.recent-post a{
    color: black;
}

.recent-post-top {
    display: flex;
    justify-content: space-between;
}

.recent-post-top p,
.recent-post-bottom p {
    color: var(--secondary);
}

.recent-post-bottom {
    margin: 32px 0px 0px 0px;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    align-items: flex-start;
}

.recent-post-bottom strong {
    color: var(--primary);
}

.recent-post-bottom img,
.recent-post-bottom p {
    display: inline;
}

/*--------------------------------------------------------------
# Section general to all tools
--------------------------------------------------------------*/
.tool-description {
    margin: auto;
    margin-top: 121px;
    text-align: center;
}

.tool-description p {
    margin: 32px 0px 64px 0px;
}


/* Input color with text field */

.color-input {
    display: flex;
    padding: 16px;
    width: 100%;
    height: 64px;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    
    /*Animations*/
    transition-property: border-color;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

.color-input input,
.color-input input:focus {
    outline: none;
    border: none;
}


.color-input input[type=text] {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform:uppercase;
}

.color-input input[type=color] {
    box-sizing: content-box;
    width: 32px;
    height: 32px;
}

::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}

::-moz-color-swatch {
    border: none;
    border-radius: 1px;
}

.color-input-swap-button {
    border: 0;
    background: transparent;
}

.color-input-swap-button-span {
    text-align: center; 
    width: 64px; 
    height: 64px;
    line-height: 64px; 
    align-self: flex-end;
}

.color-input-flexbox {
     display: flex; 
     flex-flow: row wrap; 
     justify-content: space-between; 
     align-items: center; 
     margin: 0px 0px 32px 0px;

}

/* .info-icon {
    height: 24px;
    width: 24px;
    content: url("../graphics/color_picker/info_circle.png");
    cursor: pointer;
    transition: 0.250s 0s ease-in-out;
}

.info-icon:hover {
    content: url("../graphics/color_picker/info_circle_hover.png");
} */

/*--------------------------------------------------------------
# Palette Generator Section
--------------------------------------------------------------*/
#palette-generator-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    margin: auto;
    margin-bottom: 64px;
    width: 1120px;
    height: 370px;
    border: 1px solid var(--secondary);
    border-radius: 16px;
}

#palette-generator-card-result {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 256px;
}

.palette-generator-card-result-color {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 16px 16px;
    padding: 24px;
    width: 100%;
}

.palette-generator-card-result-color h3,
.palette-generator-card-result-color p {
    margin: 0;
}

#palette-generator-card-settings {
    display: flex;
    flex-flow: row nowrap;
    height: 114px;
    width: 100%;
}

#palette-generator-card-settings button {
    border: 1px solid var(--secondary);
    height: 50px;
}

#palette-generator-card-settings > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 32px;
}

/*--------------------------------------------------------------
# Gradient Generator Section
--------------------------------------------------------------*/

#gradient-gen-card {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 64px;
    flex-direction: row;
    height: 430px;
    max-width: 1120px;
    background-color: white;
}


#gradient-gen-card-settings {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid var(--secondary);
    border-radius: 16px 0px 0px 16px;
    padding: 32px 64px 32px 64px;
    min-width: 723px;
    max-width: 723px;
    /** Оптимальные значения. Работаю в Гугл Хроме, но в Мозилле Фаерфкс вся верстка съезжает  */
/*  min-width: 658px;
    max-width: 658px; */
    height: 100%;
}


#gradient-direction {
    color:var(--secondary);
    min-width: 232px;
    height: 64px;
}

#gradient-direction option {
    font-size: 1.25em;
}

#gradient-gen-card-settings-buttons button{
    border: 1px solid var(--secondary);
    min-width: 162px;
    min-height: 50px
}


#gradient-gen-card-result {
    width: 100%;
    border: 1px solid var(--secondary);
    border-radius: 0px 16px 16px 0px;
    background: linear-gradient(90deg, rgba(239,240,207,1) 0%, rgba(207,225,208,1) 100%);
}

/* Adaptation for mobile devices  */
@media (max-width: 930px) {
    #gradient-gen-card {
        flex-direction: column-reverse;
        height: auto;
        width: 90vw;
    }
    
    #gradient-gen-card-settings,
    #gradient-gen-card-result {
        width: 100%;
    }
    
    #gradient-gen-card-result {
        border-radius: 16px 16px 0px 0px;
    }
    
    #gradient-gen-card-settings {
        border-radius: 0px 0px 16px 16px;
        min-width: unset;
        max-width: unset;
    }
    
    #gradient-gen-card-result {
        height: 200px
    }
    
    .color-input-flexbox {
        display: flex; 
        flex-flow: column wrap; 
        align-items: center;
    }
    
    .color-input-swap-button-span {
        margin: 0px;
        align-self: center;
    }
}


/*--------------------------------------------------------------
# Color Picker Section
--------------------------------------------------------------*/
#color-picker-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    max-width: 1120px;
    max-height: 1000px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 64px;
    background-color: white;
}


#color-picker-card-settings {
    max-width: 492px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid var(--secondary);
    border-radius: 16px 0px 0px 16px;
    padding: 0px;
}

#color-picker-range {
    max-width: 300px;
}

#color-picker-card-settings ul {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    padding: 0px;
    margin-top: 32px;
    margin-bottom: 0px;
}

#color-picker-card-settings ul li{
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    align-items: center;
    padding: 16px 32px 16px 32px;
    gap: 32px 32px;
}

#color-picker-card-settings-buttons {
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between; 
    gap: 32px 32px; 
    margin: 32px 0px 0px 0px; 
    padding: 0px 32px 32px 32px;
}

#color-picker-card-settings-buttons button {
    padding: 0px;
    border: 1px solid var(--secondary);
    height: 50px;
    width: 100%;
    max-width: 200px;
}

#color-picker-card-result {
    padding: 32px;
    display: flex;
    max-width: 628px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary);
    border-radius: 0px 16px 16px 0px;
}

#color-picker-card-result-img {
    width: 100%;
    max-height: 500px;
}

/* Adaptation for mobile devices  */
@media (max-width: 768px) {
    #color-picker-card {
        max-height: unset;
        flex-direction: column-reverse;
        width: 95vw;
    }
    
    #color-picker-card-settings,
    #color-picker-card-result {
        max-width: unset;
        width: 95vw;
    }
    
    #color-picker-card-settings {
        flex-direction: column-reverse;
        border-radius: 0px 0px 16px 16px;
    }
    
    #color-picker-card-settings-buttons {
        justify-content: center;
    }
        
    /* !!! No support for firefox and opera !!! */
    /* Возможные решения:
        1. Использовать box-sizing, чтобы контент внутри li обтекался по границам 
        2. Скрывать элементы в js скрипте с помощью display:none, а не назначения аттрибута hidden*/
    #color-picker-card-settings ul li:has(+li[hidden]),
    #color-picker-card-settings ul li:last-child{
        border-radius: 0px 0px 16px 16px;
    }
    
    #color-picker-card-result {
        padding: 32px;
        border-radius: 16px 16px 0px 0px;
    }
} 



/*--------------------------------------------------------------
# Contrast Checker Section
--------------------------------------------------------------*/
#contrast-checker-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1120px;
    height: 400px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 64px;
    background-color: white;
}


#contrast-checker-card-settings {   
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 32px 64px 32px 64px;
    border: 1px solid var(--secondary);
    border-radius: 16px 0px 0px 16px;
    min-width: 723px;
    max-width: 723px;
    height: 100%;
}


#contrast-checker-card-result {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border: 1px solid var(--secondary);
    border-radius: 0px 16px 16px 0px;
    padding: 32px;
    text-align: center;
    color: #4C3345;
    background-color: #CFE1D0;
}

/* Adaptation for mobile devices  */
@media (max-width: 1070px) {
    #contrast-checker-card {
        flex-direction: column-reverse;
        height: auto;
        width: 90vw;
    }
    
    #contrast-checker-card-settings,
    #contrast-checker-card-result {
        width: 100%;
    }
    
    #contrast-checker-card-result {
        border-radius: 16px 16px 0px 0px;
    }
    
    #contrast-checker-card-settings {
        border-radius: 0px 0px 16px 16px;
        min-width: unset;
        max-width: unset;
    }
    
    #contrast-checker-card-result {
        height: 100%;
    }
    
    .color-input-flexbox {
        display: flex; 
        flex-flow: column wrap; 
        align-items: center;
    }
    
    .color-input-swap-button-span {
        margin: 0px;
        align-self: center;
    }
}