{% extends 'main/base.html' %}
{% load static %}
{% load blog_extract_imgs %}

{% block body %}
    <!-- -----  Main Start  ----- -->
    <main id="main">
        <!-- Filters START -->
        <form method="get" action="{% url 'blog' %}" name="filter_form">
            <div id="blog-header">
                <div>
                    <label for="blog-header-date">Date: </label>
                    <select id="blog-header-date" name="filter_date">
                        <option value="0">All time</option>
                        <option value="1">Last day</option>
                        <option value="2">Last week</option>
                        <option value="3">Last month</option>
                    </select>
                </div>

                <div>
                    <label for="blog-header-sorting">Sorting: </label>
                    <select id="blog-header-sorting" name="filter_sorting">
                        <option value="0">By creation date (new first)</option>
                        <option value="1">By creation date (old first)</option>
                        <option value="2">By popularity (the best)</option>
                        <option value="3">By popularity (worst)</option>
                    </select>
                </div>

                <div class="form-check form-check-reverse">
                    <label class="form-check-label" for="blog-header-favorites-only">Favorites only: </label>
                    <input id="blog-header-favorites-only" class="form-check-input" type="checkbox"
                           name="filter_favourite">
                </div>

                <div id="blog-header-buttons">
                    <button class="btn btn-primary" type="submit">Apply</button>
                    <button style="border: 1px solid var(--secondary);" id="reset" class="btn btn-light">Reset</button>
                </div>
            </div>
        </form>

        <script>
            var filter_date = document.getElementById("blog-header-date");
            var filter_sorting = document.getElementById("blog-header-sorting");
            var filter_favourite = document.getElementById("blog-header-favorites-only");

            var date_val = {{ filter_date }};
            var sorting_val = {{ filter_sorting }};
            var favourite_val = "{{ filter_favourite }}";

            function set_date(val) {
                if (Number(val) < 4)
                    filter_date.value = val;
                else
                    filter_date.value = '0';
            }

            function set_sorting(val) {
                if (Number(val) < 4)
                    filter_sorting.value = val;
                else
                    filter_sorting.value = '0';
            }

            function set_favourite(val) {
                filter_favourite.checked = val === "on";
            }

            document.getElementById("reset").onclick = function () {
                set_date('0');
                set_sorting('0');
                set_favourite('off');
                document.forms["filter_form"].submit();
            };

            set_date(date_val);
            set_sorting(sorting_val);
            set_favourite(favourite_val);
        </script>
        <!-- Filters END -->

        <!-- Articles START -->
        <ul id="blog-main">
            {% for article in object_list %}
                <!-- card Start -->
                <div class="blog-main-post-card">
                    <div class="blog-main-post-card-top">
                        <p class="blog-main-post-date">{{ article.created }}</p>
                        <p class="blog-main-post-reading-time">Reading time ~ {{ article.reading }} min.</p>
                    </div>
                    <div class="blog-main-post-card-content">
                        <a href="{% url 'article' article_slug=article.slug %}" target="_blank">
                            <h4 class="blog-main-post-title"> {{ article.title }}</h4>
                            <div class="blog-main-post-text">
                                {{ posts_clear_content|get_value:article.slug }}
                            </div>
                            <img class="blog-main-post-image" src={{ posts_images|get_value:article.slug }}/>
                        </a>
                    </div>
                    <div class="blog-main-post-card-bottom">
						<span class="blog-main-post-card-bottom-comment">
                            <a href="{% url 'article' article_slug=article.slug %}#section_view" target="_blank">
                                <i class="bi bi-chat"></i>
                                <span>{{ posts_count_comments|get_value:article.slug }}</span>
                            </a>
						</span>
                        <span class="{{ article.slug }} fav_mark blog-main-post-card-bottom-favourite">
                            <i class="bi bi-bookmark"></i>
                            <span>add to favourite</span>
						</span>
                        <span class="blog-main-post-card-bottom-rating">
                            <i class="{{ article.slug }} bi bi-chevron-down rating-down"></i>
                            <strong class="{{ article.slug }} rating"> {{ article.rating }} </strong>
                            <i class="{{ article.slug }} bi bi-chevron-up rating-up"></i>
                        </span>
                        <span class="blog-main-post-card-bottom-tags">
							{% for tag in article.tags.all %}
                                <span>#{{ tag.name }}</span>
                            {% endfor %}
						</span>
                    </div>
                </div>
                <!-- card End -->
            {% empty %}
                <h4 style="color: var(--secondary);"> No articles (check filters)</h4>
            {% endfor %}
        </ul>
        <!-- Articles END -->

        <!-- Pagination START -->
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page=1&filter_date={{ filter_date }}&filter_sorting={{ filter_sorting }}&filter_favourite={{ filter_favourite }}">
                        &laquo;First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.previous_page_number }}&filter_date={{ filter_date }}&filter_sorting={{ filter_sorting }}&filter_favourite={{ filter_favourite }}">
                        Previous
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;First</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a>
            {% endif %}

            <li class="page-link active">
                {{ page_obj.number }}
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.next_page_number }}&filter_date={{ filter_date }}&filter_sorting={{ filter_sorting }}&filter_favourite={{ filter_favourite }}">
                        Next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.paginator.num_pages }}&filter_date={{ filter_date }}&filter_sorting={{ filter_sorting }}&filter_favourite={{ filter_favourite }}">
                        Last&raquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">Last&raquo;</a></li>
            {% endif %}
        </ul>
        <!-- Pagination END -->
    </main>

    <script src="{% static 'main/js/blog_post_cookies.js' %}"></script>
    <!-- -----   Main End   ----- -->
{% endblock %}