{% extends 'main/base.html' %}
{% load static %}

{% block body %}
    <!-- ----- Header Start ----- -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="{% url 'index' %}">SPACE</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#recent-posts">Recent Posts</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>
    <!-- -----  Header End  ----- -->
    
    <!-- -----  Main Start  ----- -->
    <main>
        <div class="tool-description">
            <h3>COLOR PICKER</h3>
            <img class="underline" draggable="false" src="{% static 'main/graphics/main_page/black_underline.png' %}" />
            <p>Life is filled with colors. You’ve always been wondering what color your life’s in? Upload your photo and learn in a sec.</p>
        </div>
        <div id="color-picker-card">
            <div id="color-picker-card-settings">
                <div>
                    <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; margin-top: 32px; gap: 0px 16px; margin-bottom: 0">
                        <h4 style="margin: 0;">Most common colors</h4>
                        <img style="width: 24px; height: 24px "src="{% static 'main/graphics/contrast_checker/info_circle.png' %}" />
                    </div>
                    
                    <div style="width: 100%; display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; gap: 0px 8px; margin-top: 32px;">
                        <p style="margin: 0;">2</p>
                        <input id="color-picker-range" type="range" class="form-range" min="2" max="10" step="1" value="5" >
                        <p style="margin: 0;">10</p>
                    </div>
                    
                    <ul id="color-picker-card-colors-list">
                        <li style=" background-color:#A2C6CB; ">
                            <h3 style="margin: 0;">#A2C6CB</h3>
                            <p style="margin: 0;">Opai</p>
                            <p style="margin: 0;">63.4%</p>
                        </li>
                        <li style="background-color:#CFE1D0;">
                            <h3 style="margin: 0;">#CFE1D0</h3>
                            <p style="margin: 0;">Honeydew</p>
                            <p style="margin: 0;">27.5%</p>
                        </li>
                        <li style="background-color:#EFF0CF;">
                            <h3 style="margin: 0;">#EFF0CF</h3>
                            <p style="margin: 0;">Light Goldenrod Yellow</p>
                            <p style="margin: 0;">11.9%</p>
                        </li>
                        <li style="background-color:#D8C9AD;">
                            <h3 style="margin: 0;">#D8C9AD</h3>
                            <p style="margin: 0;">Dutch White</p>
                            <p style="margin: 0;">4.3%</p>
                        </li>
                        <li style="background-color:#CFE1D0;">
                            <h3 style="margin: 0;">#CFE1D0</h3>
                            <p style="margin: 0;">Dark Byzantium</p>
                            <p style="margin: 0;">2.5%</p>
                        </li>
                        <!-- Hidden by default elements -->
                        <li style="background-color:#6195ED;" hidden="">
                            <h3 style="margin: 0;">#6195ED</h3>
                            <p style="margin: 0;">Cornflower Blue</p>
                            <p style="margin: 0;">1.9%</p>
                        </li>
                        <li style="background-color:#4AFF29;" hidden="">
                            <h3 style="margin: 0;">#4AFF29</h3>
                            <p style="margin: 0;">Harlequin</p>
                            <p style="margin: 0;">1.8%</p>
                        </li>
                        <li style="background-color:#29DFFF;" hidden="">
                            <h3 style="margin: 0;">#29DFFF</h3>
                            <p style="margin: 0;">Cyan</p>
                            <p style="margin: 0;">1.2%</p>
                        </li>
                        <li style="background-color:#FD96D8;" hidden="">
                            <h3 style="margin: 0;">#FD96D8</h3>
                            <p style="margin: 0;">Lavender Rose</p>
                            <p style="margin: 0;">0.3%</p>
                        </li>
                        <li style="background-color:#E9070A;" hidden="">
                            <h3 style="margin: 0;">#E9070A</h3>
                            <p style="margin: 0;">Red</p>
                            <p style="margin: 0;">0.1%</p>
                        </li>
                    </ul>
                </div>
                
                <div id="color-picker-card-settings-buttons">
                    <button id="color-picker-upload-button" type="button" class="btn btn-light">UPLOAD IMAGE</button>
                    <button id="gradient-gen-export-button" type="button" class="btn btn-primary">EXPORT AS</button>
                </div>

            </div>
            <div id="color-picker-card-result">
<!--                <div style="position: absolute; z-index: 1;">
                <div style="background-color: #A2C6CB; width: 64px; height: 64px; border: 4px solid white; border-radius: 50%; position: absolute; top: -120px; left: 100px;"></div>
                </div> -->
                <img id="color-picker-card-result-img" draggable="false" src="{% static 'main/graphics/color_picker/image_example.png' %}" />               
            </div>
        </div>
    </main>
    <!-- -----   Main End   ----- -->
{% endblock %}

{% block script %}
<script src="{% static 'main/js/color-picker.js' %}"></script>
{% endblock %}