{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block body %}
    <!-- -----  Main Start  ----- -->
    <main class="tool-section">
        <!-- Export Modal -->
        <div class="modal fade" tabindex="-1" id="color-picker-export-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Export as..." %}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="export-modal-icons">
                            <button data-bs-toggle="modal" data-bs-dismiss="modal"
                                    data-bs-target="#color-picker-export-css-modal">
                                <i class="bi bi-filetype-css"></i>
                                <div>CSS</div>
                            </button>
                            <button id="color-picker-export-collage-png-button" data-bs-dismiss="modal">
                                <i class="bi bi-image"></i>
                                <div>{% trans "Image" %}</div>
                            </button>
                            <button id="color-picker-export-collage-pdf-button" data-bs-dismiss="modal">
                                <i class="bi bi-file-earmark-pdf"></i>
                                <div>PDF</div>
                            </button>
                            <button data-bs-toggle="modal" data-bs-dismiss="modal"
                                    data-bs-target="#color-picker-export-csv-modal">
                                <i class="bi bi-list-columns-reverse"></i>
                                <div>CSV</div>
                            </button>
                            <button data-bs-toggle="modal" data-bs-dismiss="modal"
                                    data-bs-target="#color-picker-export-json-modal">
                                <i class="bi bi-braces"></i>
                                <div>JSON</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Export As CSS Modal -->
        <div class="modal fade" tabindex="-1" id="color-picker-export-css-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Export as " %} CSS</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
						<pre>
							<code id="color-picker-export-css-code" class="language-scss">
								You should not see this text
							</code>
						</pre>
                        <div style="display: flex; justify-content: space-between; gap: 32px;">
                            <a id="color-picker-export-css-modal-download-button" href="" download="color_picker.scss"
                               style="height: 50px; flex: 1;">
                                <button style="width: 100%; height: 50px; border: 1px solid var(--secondary);"
                                        class="btn">{% trans "DOWNLOAD" %}
                                </button>
                            </a>
                            <button style="height: 50px; flex: 1;" class="btn btn-primary" data-bs-placement="bottom"
                                    data-bs-toggle="tooltip" data-bs-title="Copied!"
                                    data-clipboard-target="#color-picker-export-css-code">{% trans "COPY" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Export As CSV Modal -->
        <div class="modal fade" tabindex="-1" id="color-picker-export-csv-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Export as " %} CSV</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
						<pre>
							<code id="color-picker-export-csv-code" class="language-plaintext">
							</code>
						</pre>
                        <div style="display: flex; justify-content: space-between; gap: 32px;">
                            <a id="color-picker-export-csv-modal-download-button" href="" download="color_picker.csv"
                               style="height: 50px; flex: 1;">
                                <button style="width: 100%; height: 50px; border: 1px solid var(--secondary);"
                                        class="btn">{% trans "DOWNLOAD" %}
                                </button>
                            </a>
                            <button style="height: 50px; flex: 1;" class="btn btn-primary" data-bs-placement="bottom"
                                    data-bs-toggle="tooltip" data-bs-title="Copied!"
                                    data-clipboard-target="#color-picker-export-csv-code">{% trans "COPY" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Export As JSON Modal -->
        <div class="modal fade" tabindex="-1" id="color-picker-export-json-modal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Export as " %} JSON</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
						<pre>
							<code id="color-picker-export-json-code" class="language-json">
							</code>
						</pre>
                        <div style="display: flex; justify-content: space-between; gap: 32px;">
                            <a id="color-picker-export-json-modal-download-button" href="" download="color_picker.json"
                               style="height: 50px; flex: 1;">
                                <button style="width: 100%; height: 50px; border: 1px solid var(--secondary);"
                                        class="btn">{% trans "DOWNLOAD" %}
                                </button>
                            </a>
                            <button style="height: 50px; flex: 1;" class="btn btn-primary" data-bs-placement="bottom"
                                    data-bs-toggle="tooltip" data-bs-title="Copied!"
                                    data-clipboard-target="#color-picker-export-json-code">{% trans "COPY" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Export As Collage -->
        <div id="color-picker-export-collage">
            <div>
                <ul id="color-picker-export-collage-color-list">
                </ul>
                <div id="color-picker-export-collage-result-image">
                    <img id="color-picker-export-collage-display-image" draggable="false"
                         src="{% static 'main/graphics/color_picker/image_example.png' %}"/>
                </div>
            </div>
        </div>


        <div class="tool-description">
            <h3 class="underline-black">{% trans "COLOR PICKER" %}</h3>
            <p>{% trans "Life is filled with colors. You’ve always been wondering what color your life’s in? Upload your photo and learn in a sec." %}</p>
        </div>
        <div id="color-picker-card">
            <div id="color-picker-card-settings">
                <div>
                    <div id="color-picker-card-settings-top">
                        <h4>{% trans "Most common colors" %}</h4>
                        <a tabindex="0" role="button" data-bs-custom-class="info-circle-popover"
                           data-bs-content="
                           <b>Common colors</b>
                           <br>
                           <span>Use the tool to find out the most common colors in image,
                           determined using K-means clustering algorithm.</span>
                           <br>
                           <a href='https://www.alanzucconi.com/2015/05/24/how-to-find-the-main-colours-in-an-image/' target='_blank'>Read more...</a>"
                        >
                            <!-- This SVG icon is not original Bootstrap's, it has been modified -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-info-circle" viewBox="0 0 16 16">
                                <circle cx="8" cy="8" r="8"/>
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </a>
                    </div>

                    <div id="color-picker-card-colors-count">
                        <span>2</span>
                        <span id="color-picker-range-container">
								<span id="color-picker-range-title" hidden="">5</span>
								<input id="color-picker-range" type="range" class="form-range" min="2" max="10" step="1"
                                       value="5">
							</span>
                        <span>10</span>
                    </div>

                    <ul style="opacity: 0;" id="color-picker-card-colors-list">
                        <li style=" background-color: #A2C6CB;">
                            <h3>#A2C6CB</h3>
                            <div>
                                <p>Opai</p>
                                <p>63.4%</p>
                            </div>
                        </li>
                        <li style="background-color:#CFE1D0;">
                            <h3>#CFE1D0</h3>
                            <div>
                                <p>Honeydew</p>
                                <p>27.5%</p>
                            </div>
                        </li>
                        <li style="background-color:#EFF0CF;">
                            <h3>#EFF0CF</h3>
                            <div>
                                <p>Light Goldenrod Yellow</p>
                                <p>11.9%</p>
                            </div>
                        </li>
                        <li style="background-color:#D8C9AD;">
                            <h3>#D8C9AD</h3>
                            <div>
                                <p>Dutch White</p>
                                <p>4.3%</p>
                            </div>
                        </li>
                        <li style="background-color:#4C3345;">
                            <h3>#4C3345</h3>
                            <div>
                                <p>Dark Byzantium</p>
                                <p>2.5%</p>
                            </div>
                        </li>
                        <!-- Elements hidden by default -->
                        <li style="background-color:#6195ED;" hidden="">
                            <h3>#6195ED</h3>
                            <div>
                                <p>Cornflower Blue</p>
                                <p>1.9%</p>
                            </div>
                        </li>
                        <li style="background-color:#4AFF29;" hidden="">
                            <h3>#4AFF29</h3>
                            <div>
                                <p>Harlequin</p>
                                <p>1.8%</p>
                            </div>
                        </li>
                        <li style="background-color:#29DFFF;" hidden="">
                            <h3>#29DFFF</h3>
                            <div>
                                <p>Cyan</p>
                                <p>1.2%</p>
                            </div>
                        </li>
                        <li style="background-color:#FD96D8;" hidden="">
                            <h3>#FD96D8</h3>
                            <div>
                                <p>Lavender Rose</p>
                                <p>0.3%</p>
                            </div>
                        </li>
                        <li style="background-color:#E9070A;" hidden="">
                            <h3>#E9070A</h3>
                            <div>
                                <p>Red</p>
                                <p>0.1%</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="color-picker-card-settings-bottom">
                    <input style="display: none;" type="file" id="color-picker-upload-button"
                           accept="image/jpeg, image/png, image/jpg">
                    <label id="color-picker-upload" for="color-picker-upload-button">{% trans "UPLOAD IMAGE" %}</label>
                    <button id="color-picker-export-button" type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#color-picker-export-modal">{% trans "EXPORT AS" %}
                    </button>
                </div>

            </div>
            <div id="color-picker-card-result">
                <div id="color-picker-card-result-image">
                    <img id="display-image" draggable="false"
                         src="{% static 'main/graphics/color_picker/image_example.png' %}"/>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div class="hidden"></div>
                    <div class="hidden"></div>
                    <div class="hidden"></div>
                    <div class="hidden"></div>
                    <div class="hidden"></div>
                </div>
            </div>
        </div>
    </main>
    <!-- -----   Main End   ----- -->
{% endblock %}

{% block script %}
    <script src="{% static 'main/js/info_circle_popover.js' %}"></script>
    <script src="{% static 'main/js/color_picker.js' %}"></script>
{% endblock %}