{% extends 'main/base.html' %}
{% load static %}

{% block body %}
    <!-- ----- Header Start ----- -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="{% url 'index' %}">SPACE</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#recent-posts">Recent Posts</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>
    <!-- -----  Header End  ----- -->
    
    <!-- -----  Main Start  ----- -->
    <main>
        <div class="tool-description">
            <h3>CONTRAST CHECKER</h3>
            <img class="underline" draggable="false" src="{% static 'main/graphics/main_page/black_underline.png' %}" />
            <p>Check the contrast between the colors of the background and the text. Let your graphical content be in-SIGHT-ful.</p>
        </div>
        <div id="contrast-checker-card">
            <div id="contrast-checker-card-settings">
                <div style="display:flex; justify-content: center;">
                <h4>Contrast Ratio</h4>
                </div>
                <div style="display:flex; justify-content: space-between; flex-wrap: wrap;">
                <div>
                <p>First color</p>
                <div class="gradient-gen-card-color-picker">
                    <input id="gradient-gen-second-color-text" type="text" size="7" maxlength="7" value="#4C3345"/>
                    <input id="gradient-gen-second-color" type="color" value="#4C3345"/>
                </div>
                </div>
                
                <div>
                <p>Second color</p>
                <div class="gradient-gen-card-color-picker">
                    <input id="gradient-gen-second-color-text" type="text" size="7" maxlength="7" value="#CFE1D0"/>
                    <input id="gradient-gen-second-color" type="color" value="#CFE1D0"/>
                </div>
                </div>
                </div>
                
                <div style="margin: 32px 0px 16px 0px; display:flex; justify-content: center; align-items: center; gap: 16px 16px">
                    <div>
                        <h2 >4.48</h2>
                    </div>
                    <div style="border-left: 2px solid var(--secondary); padding-left: 16px; display:flex; flex-direction: column; justify-content: center; align-items: flext-start;">
                        <span style="margin: 0px 0px 16px 0px;"><img style="margin: 0px 8px 0px 0px;" src="{% static 'main/graphics/contrast_checker/x-circle.png' %}" /><p style="display: inline;">for 17pt and below</p></span>
                        <span style="margin: 0px 0px 16px 0px;"><img style="margin: 0px 8px 0px 0px;" src="{% static 'main/graphics/contrast_checker/check-circle.png' %}" /><p style="display: inline;">for 18pt and above / 14pt bold and above</p></span>
                        <span style="margin: 0px 0px 16px 0px;"><img style="margin: 0px 8px 0px 0px;" src="{% static 'main/graphics/contrast_checker/check-circle.png' %}" /><p style="display: inline;">for icons and actionable graphics</p></span>
                    </div>
                </div>
            </div>
                
            <div id="contrast-checker-card-result">
                <h4 style="margin: 100px 0px 0px 0px;">Lorem Ipsum</h4>
                <p style="margin: 16px 0px 0px 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisi lacus, hendrerit ac metus at, iaculis laoreet nisl. Vestibulum sed erat diam. Nunc ex tellus, eleifend quis rutrum at, volutpat a enim. Integer efficitur neque nec dui fermentum convallis.</p>
            </div>
        </div>
    </main>
    <!-- -----   Main End   ----- -->
{% endblock %}

{% block script %}
<script src="{% static 'main/js/gradient-generator.js' %}"></script>
{% endblock %}