{% extends 'main/base.html' %}
{% load static %}

{% block body %}
    <!-- ----- Header Start ----- -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="{% url 'index' %}">SPACE</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#recent-posts">Recent Posts</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>
    <!-- -----  Header End  ----- -->
    
    <!-- -----  Main Start  ----- -->
    <main>
        <div class="tool-description">
            <h3>CONTRAST CHECKER</h3>
            <img class="underline" draggable="false" src="{% static 'main/graphics/main_page/black_underline.png' %}" />
            <p>Check the contrast between the colors of the background and the text. Let your graphical content be in-SIGHT-ful.</p>
        </div>
        <div id="contrast-checker-card">
            <div id="contrast-checker-card-settings">
                
                <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; margin: 0px 0px 32px 0px; gap: 0px 16px;">
                    <h4 style="margin: 0;">Contrast Ratio</h4>
                    <img style="width: 24px; height: 24px "src="{% static 'main/graphics/contrast_checker/info_circle.png' %}" />
                </div>
                
                <div class="color-input-flexbox">
                    <div>
                        <p>Text color</p>
                        <div class="color-input">
                            <input class="color-input-first-color-text" type="text" size="7" maxlength="7" />
                            <input class="color-input-first-color" type="color" />
                        </div>
                    </div>
                    <span class="color-input-swap-button-span">
                        <button class="color-input-swap-button">
                            <img draggable="false" src="{% static 'main/graphics/contrast_checker/arrow_left_right.png' %}" />
                        </button>
                    </span>
                    <div>
                        <p>Background color</p>
                        <div class="color-input">
                            <input class="color-input-second-color-text" type="text" size="7" maxlength="7" />
                            <input class="color-input-second-color" type="color" />
                        </div>
                    </div>
                </div>
                
                <div style="display: flex; flex-flow: row nowrap; justify-content: center; gap: 0px 16px;">
                    <div style="padding-right: 16px; border-right: 1px solid var(--secondary); display: flex; flex-flow: row nowrap; justify-content: center; align-items: center">
                        <h2 id="contrast-checker-ratio"style="margin: 0;">4.48</h2>
                    </div>
                    <div id="contrast-checker-rules" style="display: flex; flex-flow: column nowrap; align-items: flex-start; gap: 16px 0px;">
                        <div style="display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: center;">
                            <img src="{% static 'main/graphics/contrast_checker/x-circle.png' %}" />
                            <p style="margin: 0px 0px 0px 16px;">for 17pt and below</p>
                        </div>
                        <div style="display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: center;">
                            <img src="{% static 'main/graphics/contrast_checker/check-circle.png' %}" />
                            <p style="margin: 0px 0px 0px 16px;">for 18pt and above / 14pt bold and above</p>
                        </div>
                        <div style="display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: center;">
                            <img src="{% static 'main/graphics/contrast_checker/check-circle.png' %}" />
                            <p style="margin: 0px 0px 0px 16px;">for icons and actionable graphics</p>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div id="contrast-checker-card-result">
                <h4 style="margin: 0px 0px 16px 0px;">Lorem Ipsum</h4>
                <p style="margin: 0 0 16px 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisi lacus, hendrerit ac metus at, iaculis laoreet nisl. Vestibulum sed erat diam. Nunc ex tellus, eleifend quis rutrum at, volutpat a enim. Integer efficitur neque nec dui fermentum convallis.</p>
                <div style="text-align: right; align-self: flex-end;">
                    <b>— Duis Aliquam</b>
                </div>
            </div>
        </div>
    </main>
    <!-- -----   Main End   ----- -->
{% endblock %}

{% block script %}
<script src="{% static 'main/js/contrast-checker.js' %}"></script>
{% endblock %}