{% extends 'main/base.html' %}
{% load static %}

{% block body %}
    <!-- ----- Header Start ----- -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="{% url 'index' %}">SPACE</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#recent-posts">Recent Posts</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>
    <!-- -----  Header End  ----- -->
    
    <!-- -----  Main Start  ----- -->
    <main>
        <div class="tool-description">
            <h3>GRADIENT GENERATOR</h3>
            <img class="underline" draggable="false" src="{% static 'main/graphics/main_page/black_underline.png' %}" />
            <p>Make your own art of soft and fluffy colors fluently flowing into each other. Be certain, everything will go smoothly.</p>
        </div>
        <div id="gradient-gen-card">
            <div id="gradient-gen-card-settings">
            
                <div style="display: flex; justify-content: flex-start;">
                    <h4 style="margin-bottom: 16px;">Choose colors</h4>
                </div>
                
                <div class="color-input-flexbox">
                    <div>
                        <p>First color</p>
                        <div class="color-input">
                            <input class="color-input-first-color-text" type="text" size="7" maxlength="7" />
                            <input class="color-input-first-color" type="color" />
                        </div>
                    </div>
                    <span class="color-input-swap-button-span">
                        <button class="color-input-swap-button">
                            <img draggable="false" src="{% static 'main/graphics/gradient_generator/arrow_left_right.png' %}" />
                        </button>
                    </span>
                    <div>
                        <p>Second color</p>
                        <div class="color-input">
                            <input class="color-input-second-color-text" type="text" size="7" maxlength="7" />
                            <input class="color-input-second-color" type="color" />
                        </div>
                    </div>
                </div>
                
                <div style="display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; gap: 32px 0px; margin: 0px 0px 32px 0px;">
                    <div>
                        <h4>Gradient type</h4>
                        <div style="margin-bottom: 8px;">
                            <input class="form-check-input" type="radio" name="gradient-type" id="gradient-type-linear" value="linear" checked>
                            <label class="form-check-label" for="gradient-type-linear">Linear gradient</label>
                        </div>
                        <div>
                            <input class="form-check-input" type="radio" name="gradient-type" id="gradient-type-radial" value="radial">
                            <label class="form-check-label" for="gradient-type-radial">Radial gradient</label>
                        </div>
                    </div>
                    <div>
                        <h4>Direction</h4>
                        <select id="gradient-direction" class="form-select">
                            <option value="1" selected>Top to Bottom</option>
                            <option value="2">Bottom to Top</option>
                            <option value="3">Left to Right</option>
                            <option value="4">Right to Left</option>
                        </select>
                    </div>
                </div>
                
                <div id="gradient-gen-card-settings-buttons" style="display: flex; flex-flow: row wrap; justify-content: center; gap: 32px 32px;">
                    <button id="gradient-gen-random-button" type="button" class="btn btn-light">RANDOM</button>
                    <button id="gradient-gen-export-button" type="button" class="btn btn-primary">EXPORT AS</button>
                </div>
            </div>

            <div id="gradient-gen-card-result"></div>
        </div>
    </main>
    <!-- -----   Main End   ----- -->
{% endblock %}

{% block script %}
<script src="{% static 'main/js/gradient-generator.js' %}"></script>
{% endblock %}