{% extends 'main/base.html' %}
{% load static %}

{% block body %}

    <!-- ----- Header Start ----- -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="{% url 'index' %}">SPACE</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#recent-posts">Recent Posts</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>
    <!-- -----  Header End  ----- -->
    
    <!-- -----  Main Start  ----- -->
    <main class="tool-section">
        <!-- Export Modal -->
        <div class="modal fade" tabindex="-1" id="gradient-export-modal">
            <div class="modal-dialog modal-dialog-centered" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">EXPORT AS...</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="export-modal-icons">
							<button data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#gradient-export-css-modal">
								<i class="bi bi-filetype-css"></i>
								<div>CSS</div>
							</button>
							<button data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#gradient-export-image-modal">
								<i class="bi bi-image"></i>
								<div>Image</div>
							</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Export As CSS Modal -->
        <div class="modal fade" tabindex="-1" id="gradient-export-css-modal">
            <div class="modal-dialog modal-dialog-centered modal-lg" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">EXPORT AS CSS</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
						<div class="input-group mb-3">
							<button style="border: 1px solid var(--secondary); background-color: var(--light);" class="btn" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bs-title="Copy to clipboard" data-clipboard-target="#export-css-code"><i class="bi bi-clipboard-data"></i></button>
							<pre id="export-css-code" style="flex: 1; margin: 0;"><code style="border-top-left-radius: 0; border-bottom-left-radius: 0; height: auto; padding: 8px" class="language-css">You should not see this text</code></pre>
						</div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Export As Image Modal -->
        <div class="modal fade" tabindex="-1" id="gradient-export-image-modal">
            <div class="modal-dialog modal-dialog-centered" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">EXPORT AS IMAGE</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
						<div style="display: flex; flex-flow: column; align-items: center; gap: 16px;">
							<div class="input-group mb-3">
								<input id="gradient-export-image-modal-width" type="number" min="1" max="8192" class="form-control" placeholder="Width" value="1920">
								<span class="input-group-text">X</span>
								<input style="border-bottom-right-radius: 0.375rem; border-top-right-radius: 0.375rem;" id="gradient-export-image-modal-height" type="number" min="1" max="8192" class="form-control" placeholder="Height" value="1080">
								<select id="gradient-export-image-modal-file-format" style="border-bottom-left-radius: 0.375rem; border-top-left-radius: 0.375rem; margin-left: 32px;" class="form-select">
									<option value="png" selected>PNG</option>
									<option value="jpeg">JPEG</option>
								</select>
							</div>
							<a id="gradient-export-image-modal-download-button" download="gradient.png"><button class="btn btn-primary">DOWNLOAD</button></a>
						</div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="tool-description">
            <h3 class="underline-black">GRADIENT GENERATOR</h3>
            <p>Make your own art of soft and fluffy colors fluently flowing into each other. Be certain, everything will go smoothly.</p>
        </div>
        <div id="gradient-gen-card">
            <div id="gradient-gen-card-settings">
			
                <h4>Choose colors</h4>
                
                <div class="color-input-flexbox">
                    <div>
                        <p>First color</p>
                        <div class="color-input" data-bs-custom-class="invalid-input-tooltip" data-bs-placement="bottom" title="Invalid input">
                            <input class="color-input-first-color-text" type="text" maxlength="7" />
                            <input class="color-input-first-color" type="color" tabindex="-1" />
                        </div>
                    </div>
                    <button class="color-input-swap-button" tabindex="-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
						</svg>
                    </button>
                    <div>
                        <p>Second color</p>
                        <div class="color-input" data-bs-custom-class="invalid-input-tooltip" data-bs-placement="bottom" title="Invalid input">
                            <input class="color-input-second-color-text" type="text" maxlength="7" />
                            <input class="color-input-second-color" type="color" tabindex="-1" />
                        </div>
                    </div>
                </div>
                
				<div id="gradient-type">
					<h4>Gradient type</h4>
					<div style="margin-bottom: 8px;">
						<input class="form-check-input" type="radio" name="gradient-type" id="gradient-type-linear" value="linear" checked>
						<label class="form-check-label" for="gradient-type-linear">Linear gradient</label>
					</div>
					<div>
						<input class="form-check-input" type="radio" name="gradient-type" id="gradient-type-radial" value="radial">
						<label class="form-check-label" for="gradient-type-radial">Radial gradient</label>
					</div>
				</div>
				<div id="gradient-direction">
					<h4>Direction</h4>
					<select class="form-select">
						<!-- Value represents the degree of gradient-->
						<option value="180" selected>↓ Top to Bottom</option>
						<option value="225">↙ Top-Right to Bottom-Left</option>
						<option value="270">← Right to Left</option>
						<option value="315">↖ Bottom-Right to Top-Left</option>
						<option value="0">↑ Bottom to Top</option>
						<option value="45">↗ Bottom-Left to Top-Right</option>
						<option value="90">→ Left to Right</option>
						<option value="135">↘ Top-Left to Bottom-Right</option>
					</select>
				</div>
				<div id="gradient-position" hidden="">
					<h4>Position</h4>
					<select class="form-select">
						<!-- Value represents the position of gradient-->
						<option value="circle at center" selected>Center</option>
						<option value="circle at top">Top</option>
						<option value="circle at right top">Top-Right</option>
						<option value="circle at right">Right</option>
						<option value="circle at right bottom">Bottom-Right</option>
						<option value="circle at bottom">Bottom</option>
						<option value="circle at left bottom">Bottom-Left</option>
						<option value="circle at left">Left</option>
						<option value="circle at left top">Top-Left</option>
					</select>
				</div>
                
                <div id="gradient-gen-card-settings-bottom">
                    <button id="gradient-gen-random-button" type="button" class="btn btn-light">RANDOM</button>
                    <button id="gradient-gen-export-button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gradient-export-modal">EXPORT AS</button>
                </div>
            </div>

            <div id="gradient-gen-card-result"></div>
        </div>
    </main>
    <!-- -----   Main End   ----- -->
{% endblock %}

{% block script %}
<script src="{% static 'main/js/color_input_validation.js' %}"></script>
<script src="{% static 'main/js/gradient_generator.js' %}"></script>
{% endblock %}