{% extends 'main/base.html' %}
{% load static %}

{% block body %}
    <!-- ----- Header Start ----- -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="{% url "index" %}">SPACE</a></h1>
            <!-- Uncomment below to use an image logo -->
            <!-- <a href="{% url "index" %}" class="logo"><img src="{% static "main/graphics/..." %}" alt="" class="img-fluid"></a> -->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#link4">Link #4</a></li>
                    <li><a class="nav-link scrollto" href="#link5">Link #5</a></li>
                    <li><a class="nav-link scrollto" href="#link6">Link #6</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>
    <!-- -----  Header End  ----- -->

    <!-- -----  Hero Start  ----- -->
    <section id="hero">
        <div class="bg-vid-container parallax">
            <video autoplay muted loop id="background_video" class="cover">
                <source src="{% static "main/graphics/background.mp4" %}" type="video/mp4"/>
            </video>
        </div>
        <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
            <h1 id="main_text"></h1>
            <script>
                new TypeIt("#main_text", {
                    strings: ["Powerful tools", "for your creativity"],
                    startDelay: 150,
                    speed: 100,
                    nextStringDelay: 300,
                    cursor: true,
                    cursorChar: "<span style='color: #0d6efd'>|</span>",
                    loop: false,
                    afterComplete: function (instance) {
                        instance.destroy();
                    }
                }).go();
            </script>

            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <div class="d-flex">
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
            <img style="margin-top: 64px;" src="{% static "main/graphics/scroll_icon.svg" %}"/>
        </div>
    </section>
    <!-- -----   Hero End   ----- -->

    <!-- -----  Main Start  ----- -->
    <main id="main">
        <section id="about">
            <div id="about-container">
                <h3 data-aos="fade-down">ABOUT</h3>
                <img data-aos="fade-down" style="margin-top: 32px;" draggable="false"
                     src="{% static 'main/graphics/white_underline.svg' %}"/>
                <p data-aos="fade-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor tortor,
                    pharetra ac nulla ac, pretium rutrum augue. Aenean lobortis orci quis ante sagittis, sed feugiat
                    orci volutpat. Nulla lacus odio, iaculis in luctus non, porta in erat. Donec hendrerit molestie
                    arcu, in dapibus quam eleifend et. Praesent quis accumsan augue. Aenean et lectus auctor, dictum est
                    non, aliquet felis. Pellentesque sit amet libero vel elit commodo cursus id varius tortor. Mauris
                    pulvinar dui sit amet orcisless elementum.</p>
            </div>
        </section>
        <section id="services" class="container-fluid">
            <h3 data-aos="fade-down">SERVICES</h3>
            <img data-aos="fade-down" style="margin-top: 32px;" draggable="false"
                 src="{% static 'main/graphics/black_underline.svg' %}"/>
            <p data-aos="fade-down">Phasellus a tellus sed nisl ultrices bibendum. Nunc ornare, nulla nec egestas
                vestibulum, lacus mauris facilisis metus, a cursus ligula quam vulputate ipsum. Maecenas ullamcorper
                maximus feugiat. Maecenas eget felis ac tellus pulvinar tempor ac quis tortor. Aenean tincidunt bibendum
                turpis eget efficitur. Cras molestie, enim eu tempus auctor, libero urna blandit lacus, sit amet aliquet
                ante nibh ac.</p>
            <div style="margin-top: 64px;" data-aos="fade-down" class="row g-4">
                <div class="col">
                    <a href="www.google.com">
                        <div class="service-card mx-auto">
                            <img style="margin-top: 32px;" draggable="false"
                                 src="{% static 'main/graphics/palette_generator_icon.svg' %}"/>
                            <h4 style="margin-top: 24px; color: var(--dark)">Palletes</h4>
                            <img style="margin-top: 21px;" draggable="false"
                                 src="{% static 'main/graphics/chevron_up.svg' %}"/>
                            <p style="color: var(--secondary)">hover</p>
                            <div>
                                <h4 style="margin-top: 32px; color: white;">Palletes</h4>
                                <p style="margin-top: 16px; color: white;">Create your own color palette in just one
                                    click! Use flexible settings to express all spectrum of your ideas.</p>
                                <p style="margin-top: 65px; color: var(--primary);">try it</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="www.google.com">
                        <div class="service-card mx-auto">
                            <img style="margin-top: 32px;" draggable="false"
                                 src="{% static 'main/graphics/gradient_generator_icon.svg' %}"/>
                            <h4 style="margin-top: 24px; color: var(--dark)">Gradients</h4>
                            <img style="margin-top: 21px;" draggable="false"
                                 src="{% static 'main/graphics/chevron_up.svg' %}"/>
                            <p style="color: var(--secondary)">hover</p>
                            <div>
                                <h4 style="margin-top: 32px; color: white;">Gradients</h4>
                                <p style="margin-top: 16px; color: white;">Make your own art of soft and fluffy colors
                                    fluently flowing into each other. Be certain, everything will go smoothly.</p>
                                <p style="margin-top: 65px; color: var(--primary);">try it</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="www.google.com">
                        <div class="service-card mx-auto">
                            <img style="margin-top: 32px;" draggable="false"
                                 src="{% static 'main/graphics/color_picker_icon.svg' %}"/>
                            <h4 style="margin-top: 24px; color: var(--dark)">Color Pick</h4>
                            <img style="margin-top: 21px;" draggable="false"
                                 src="{% static 'main/graphics/chevron_up.svg' %}"/>
                            <p style="color: var(--secondary)">hover</p>
                            <div>
                                <h4 style="margin-top: 32px; color: white;">Color Pick</h4>
                                <p style="margin-top: 16px; color: white;">Life is filled with colors. You’ve always
                                    been wondering what color your life’s in? Upload your photo and learn in a sec.</p>
                                <p style="margin-top: 65px; color: var(--primary);">try it</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="www.google.com">
                        <div class="service-card mx-auto">
                            <img style="margin-top: 32px;" draggable="false"
                                 src="{% static 'main/graphics/contrast_check_icon.svg' %}"/>
                            <h4 style="margin-top: 24px; color: var(--dark)">Contrast Check</h4>
                            <img style="margin-top: 21px;" draggable="false"
                                 src="{% static 'main/graphics/chevron_up.svg' %}"/>
                            <p style="color: var(--secondary)">hover</p>
                            <div>
                                <h4 style="margin-top: 32px; color: white;">Contrast Check</h4>
                                <p style="margin-top: 16px; color: white;">Check the contrast between the colors of the
                                    background and the text. Let your graphical content be in-SIGHT-ful.</p>
                                <p style="margin-top: 65px; color: var(--primary);">try it</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section id="link4">
            link4 block
        </section>
        <section id="link5">
            link5 block
        </section>
        <section id="link6">
            link6 block
        </section>

    </main>
    <!-- -----   Main End   ----- -->
{% endblock %}