{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block body %}
    <!-- Palette Color Additional Info Modal -->
    <div class="modal fade" tabindex="-1" id="palette-generator-color-info-modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Color Info" %}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="palette-generator-color-info-modal-color"><p></p></div>
                    <ul id="palette-generator-color-info-modal-list">
                        <li>
                            <b>HEX:</b>
                            <div class="input-group">
								<pre id="palette-generator-color-info-modal-list-hex" style="flex: 1; margin: 0;"><code
                                        style="border-top-right-radius: 0; border-bottom-right-radius: 0; height: auto; padding: 8px"
                                        class="language-scss">You should not see this text</code></pre>
                                <button style="border: 1px solid var(--secondary); background-color: var(--light);"
                                        class="btn" data-bs-placement="bottom" data-bs-toggle="tooltip"
                                        data-bs-title="Copy to clipboard"
                                        data-clipboard-target="#palette-generator-color-info-modal-list-hex"><i
                                        class="bi bi-clipboard-data"></i></button>
                            </div>
                        </li>
                        <li>
                            <b>RGB:</b>
                            <div class="input-group">
								<pre id="palette-generator-color-info-modal-list-rgb" style="flex: 1; margin: 0;"><code
                                        style="border-top-right-radius: 0; border-bottom-right-radius: 0; height: auto; padding: 8px"
                                        class="language-scss">You should not see this text</code></pre>
                                <button style="border: 1px solid var(--secondary); background-color: var(--light);"
                                        class="btn" data-bs-placement="bottom" data-bs-toggle="tooltip"
                                        data-bs-title="Copy to clipboard"
                                        data-clipboard-target="#palette-generator-color-info-modal-list-rgb"><i
                                        class="bi bi-clipboard-data"></i></button>
                            </div>
                        </li>
                        <li>
                            <b>HSV:</b>
                            <div class="input-group">
								<pre id="palette-generator-color-info-modal-list-hsv" style="flex: 1; margin: 0;"><code
                                        style="border-top-right-radius: 0; border-bottom-right-radius: 0; height: auto; padding: 8px"
                                        class="language-scss">You should not see this text</code></pre>
                                <button style="border: 1px solid var(--secondary); background-color: var(--light);"
                                        class="btn" data-bs-placement="bottom" data-bs-toggle="tooltip"
                                        data-bs-title="Copy to clipboard"
                                        data-clipboard-target="#palette-generator-color-info-modal-list-hsv"><i
                                        class="bi bi-clipboard-data"></i></button>
                            </div>
                        </li>
                        <li>
                            <b>HSL:</b>
                            <div class="input-group">
								<pre id="palette-generator-color-info-modal-list-hsl" style="flex: 1; margin: 0;"><code
                                        style="border-top-right-radius: 0; border-bottom-right-radius: 0; height: auto; padding: 8px"
                                        class="language-scss">You should not see this text</code></pre>
                                <button style="border: 1px solid var(--secondary); background-color: var(--light);"
                                        class="btn" data-bs-placement="bottom" data-bs-toggle="tooltip"
                                        data-bs-title="Copy to clipboard"
                                        data-clipboard-target="#palette-generator-color-info-modal-list-hsl"><i
                                        class="bi bi-clipboard-data"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- -----  Main Start  ----- -->
    <main class="tool-section">
        <div class="tool-description">
            <h3 class="underline-black">{% trans "PALETTE GENERATOR" %}</h3>
            <p>{% trans "Create your own color palette in just one click! Use flexible settings to express all spectrum of your ideas." %}</p>
        </div>

        <div id="palette-generator-card">
            <button id="palette-generator-card-result-previous-button"><i class="bi bi-arrow-left"></i></button>
            <div id="palette-generator-card-result">
                <div class="palette-generator-card-result-color" style="background-color: #A2C6CB">
					<span class="palette-generator-card-result-color-tools">
						<i class="bi bi-x-lg"></i>
						<i class="bi bi-unlock-fill"></i>
						<i class="bi bi-arrow-left-right"></i>
						<i class="bi bi-info-square" data-bs-toggle="modal"
                           data-bs-target="#palette-generator-color-info-modal"></i>
					</span>
                    <h3>#A2C6CB</h3>
                    <input type="color" value="#A2C6CB"/>
                    <p>Opal</p>
                    <div class="palette-generator-card-result-color-add">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
                <div class="palette-generator-card-result-color" style="background-color: #CFE1D0">
					<span class="palette-generator-card-result-color-tools">
						<i class="bi bi-x-lg"></i>
						<i class="bi bi-unlock-fill"></i>
						<i class="bi bi-arrow-left-right"></i>
						<i class="bi bi-info-square" data-bs-toggle="modal"
                           data-bs-target="#palette-generator-color-info-modal"></i>
					</span>
                    <h3>#CFE1D0</h3>
                    <input type="color" value="#CFE1D0"/>
                    <p>Honeydew</p>
                    <div class="palette-generator-card-result-color-add">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
                <div class="palette-generator-card-result-color" style="background-color: #EFF0CF">
					<span class="palette-generator-card-result-color-tools">
						<i class="bi bi-x-lg"></i>
						<i class="bi bi-unlock-fill"></i>
						<i class="bi bi-arrow-left-right"></i>
						<i class="bi bi-info-square" data-bs-toggle="modal"
                           data-bs-target="#palette-generator-color-info-modal"></i>
					</span>
                    <h3>#EFF0CF</h3>
                    <input type="color" value="#EFF0CF"/>
                    <p>Light Goldenrod Yellow</p>
                    <div class="palette-generator-card-result-color-add">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
                <div class="palette-generator-card-result-color" style="background-color: #D8C9AD">
					<span class="palette-generator-card-result-color-tools">
						<i class="bi bi-x-lg"></i>
						<i class="bi bi-unlock-fill"></i>
						<i class="bi bi-arrow-left-right"></i>
						<i class="bi bi-info-square" data-bs-toggle="modal"
                           data-bs-target="#palette-generator-color-info-modal"></i>
					</span>
                    <h3>#D8C9AD</h3>
                    <input type="color" value="#D8C9AD"/>
                    <p>Dutch White</p>
                    <div class="palette-generator-card-result-color-add">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
                <div class="palette-generator-card-result-color" style="background-color: #4C3345">
					<span class="palette-generator-card-result-color-tools">
						<i class="bi bi-x-lg"></i>
						<i class="bi bi-unlock-fill"></i>
						<i class="bi bi-arrow-left-right"></i>
						<i class="bi bi-info-square" data-bs-toggle="modal"
                           data-bs-target="#palette-generator-color-info-modal"></i>
					</span>
                    <h3>#4C3345</h3>
                    <input type="color" value="#4C3345"/>
                    <p>Dark Byzantium</p>
                    <div class="palette-generator-card-result-color-add">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
            </div>
            <button id="palette-generator-card-result-next-button"><i class="bi bi-arrow-right"></i></button>
            <div id="palette-generator-card-settings">
                <button id="palette-generator-generate-button" type="button" class="btn btn-light">GENERATE</button>
                <!-- Script for getting color names by hex START -->
                <script>
                    function get_color_name(hex) {
                        let color_name = "#______";
                        $.ajax({
                            url: "get_color_name/",
                            type: "POST",
                            dataType: "json",
                            data: {"hex": hex},
                            success: function (data) {
                                color_name = data.color_name;
                                console.log(data);
                            }
                        });
                        return color_name
                    }
                </script>
                <!-- Script for getting color names by hex END -->


                <!-- Script for palette-information exchange START
                <script>
                    // default palette (first loading)
                    var palette_object = ["#FFFFFF", "#000000", "#FFFFFF", "#000000", "#FFFFFF"];
                    var mask_is_fixed = [false, true, false, true, false];

                    var btn_generate = document.getElementById("palette-gen-generate-button");
                    btn_generate.onclick = function () {
                        let palette_for_sending = [];
                        for (let i = 0; i < palette_object.length; i++)
                            if (mask_is_fixed[i])
                                palette_for_sending.push(palette_object[i]);
                            else
                                palette_for_sending.push(null);
                        $.ajax({
                            url: "change_palette/",
                            type: "POST",
                            dataType: "json",
                            data: {"palette_object": palette_for_sending},
                            success: function (data) {
                                console.log(data);
                                palette_object = data.palette_object;
                            }
                        });
                    };
                </script>
                Script for palette-information exchange END -->
                <div class="input-group">
					<span class="input-group-text">
						<i class="bi bi-eyeglasses"></i>
					</span>
                    <select id="color-blindness-type" class="form-select">
                        <option value="normal" selected>Normal</option>
                        <option value="protanopia">Protanopia</option>
                        <option value="protanomaly">Protanomaly</option>
                        <option value="deuteranopia">Deuteranopia</option>
                        <option value="deuteranomaly">Deuteranomaly</option>
                        <option value="tritanopia">Tritanopia</option>
                        <option value="tritanomaly">Tritanomaly</option>
                        <option value="achromatopsia">Achromatopsia</option>
                        <option value="achromatomaly">Achromatomaly</option>
                    </select>
                </div>
                <div>
                    <button id="palette-generator-brightness-button" type="button" class="btn btn-light">
                        <i class="bi bi-sun"></i>
                    </button>
                    <button id="palette-generator-contrast-button" type="button" class="btn btn-light">
                        <i class="bi bi-circle-half"></i>
                    </button>
                </div>
                <button id="palette-generator-export-button" type="button"
                        class="btn btn-primary">{% trans "EXPORT AS" %}</button>
            </div>
        </div>
    </main>
    <!-- -----   Main End   ----- -->
{% endblock %}

{% block script %}
    <script src="{% static 'main/js/palette_generator.js' %}"></script>
{% endblock %}