{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block body %}
    <!-- Palette Color Additional Info Modal -->
    <div class="modal fade" tabindex="-1" id="palette-generator-color-info-modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Color Info" %}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="palette-generator-color-info-modal-color"></div>
                    <pre><code class="language-scss"></code></pre>
                </div>
            </div>
        </div>
    </div>

    <!-- -----  Main Start  ----- -->
    <main class="tool-section">
        <div class="tool-description">
            <h3 class="underline-black">{% trans "PALETTE GENERATOR" %}</h3>
            <p>{% trans "Create your own color palette in just one click! Use flexible settings to express all spectrum of your ideas." %}</p>
        </div>

        <div id="palette-generator-card">
            <button id="palette-generator-card-result-previous-button"><i class="bi bi-arrow-left"></i></button>
            <div id="palette-generator-card-result">
                <div class="palette-generator-card-result-color" style="background-color: #A2C6CB">
					<span class="palette-generator-card-result-color-tools">
						<i class="bi bi-x-lg"></i>
						<i class="bi bi-unlock-fill"></i>
						<i class="bi bi-arrow-left-right"></i>
						<i class="bi bi-info-square" data-bs-toggle="modal"
                           data-bs-target="#palette-generator-color-info-modal"></i>
					</span>
                    <h3>#A2C6CB</h3>
                    <input type="color" value="#A2C6CB"/>
                    <p>Opal</p>
                    <div class="palette-generator-card-result-color-add">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
                <div class="palette-generator-card-result-color" style="background-color: #CFE1D0">
					<span class="palette-generator-card-result-color-tools">
						<i class="bi bi-x-lg"></i>
						<i class="bi bi-unlock-fill"></i>
						<i class="bi bi-arrow-left-right"></i>
						<i class="bi bi-info-square" data-bs-toggle="modal"
                           data-bs-target="#palette-generator-color-info-modal"></i>
					</span>
                    <h3>#CFE1D0</h3>
                    <input type="color" value="#CFE1D0"/>
                    <p>Honeydew</p>
                    <div class="palette-generator-card-result-color-add">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
                <div class="palette-generator-card-result-color" style="background-color: #EFF0CF">
					<span class="palette-generator-card-result-color-tools">
						<i class="bi bi-x-lg"></i>
						<i class="bi bi-unlock-fill"></i>
						<i class="bi bi-arrow-left-right"></i>
						<i class="bi bi-info-square" data-bs-toggle="modal"
                           data-bs-target="#palette-generator-color-info-modal"></i>
					</span>
                    <h3>#EFF0CF</h3>
                    <input type="color" value="#EFF0CF"/>
                    <p>Light Goldenrod Yellow</p>
                    <div class="palette-generator-card-result-color-add">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
                <div class="palette-generator-card-result-color" style="background-color: #D8C9AD">
					<span class="palette-generator-card-result-color-tools">
						<i class="bi bi-x-lg"></i>
						<i class="bi bi-unlock-fill"></i>
						<i class="bi bi-arrow-left-right"></i>
						<i class="bi bi-info-square" data-bs-toggle="modal"
                           data-bs-target="#palette-generator-color-info-modal"></i>
					</span>
                    <h3>#D8C9AD</h3>
                    <input type="color" value="#D8C9AD"/>
                    <p>Dutch White</p>
                    <div class="palette-generator-card-result-color-add">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
                <div class="palette-generator-card-result-color" style="background-color: #4C3345">
					<span class="palette-generator-card-result-color-tools">
						<i class="bi bi-x-lg"></i>
						<i class="bi bi-unlock-fill"></i>
						<i class="bi bi-arrow-left-right"></i>
						<i class="bi bi-info-square" data-bs-toggle="modal"
                           data-bs-target="#palette-generator-color-info-modal"></i>
					</span>
                    <h3>#4C3345</h3>
                    <input type="color" value="#4C3345"/>
                    <p>Dark Byzantium</p>
                    <div class="palette-generator-card-result-color-add">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
            </div>
            <button id="palette-generator-card-result-next-button"><i class="bi bi-arrow-right"></i></button>
            <div id="palette-generator-card-settings">
                <button id="palette-gen-generate-button" type="button" class="btn btn-light">GENERATE</button>
                <!-- Script for palette-information exchange START -->
                <script>
                    // default palette (first loading)
                    var palette_object = ["#FFFFFF", "#000000", "#FFFFFF", "#000000", "#FFFFFF"];
                    var mask_is_fixed = [false, true, false, true, false];

                    var btn_generate = document.getElementById("palette-gen-generate-button");
                    btn_generate.onclick = function () {
                        let palette_for_sending = [];
                        for (let i = 0; i < palette_object.length; i++)
                            if (mask_is_fixed[i])
                                palette_for_sending.push(palette_object[i]);
                            else
                                palette_for_sending.push(null);
                        $.ajax({
                            url: "change_palette/",
                            type: "POST",
                            dataType: "json",
                            data: {"palette_object": palette_for_sending},
                            success: function (data) {
                                console.log(data);
                                palette_object = data.palette_object;
                            }
                        });
                    };
                </script>
                <!-- Script for palette-information exchange END -->

                <!-- Script filter for colorblind people START -->
                <script>
                    class ColorBlindness {
                        static #color_coefficients = {
                            "normal": {
                                "r": [100, 0, 0],
                                "g": [0, 100, 0],
                                "b": [0, 100, 0]
                            },
                            "protanopia": {
                                "r": [56.667, 43.333, 0],
                                "g": [55.833, 44.167, 0],
                                "b": [0, 24.167, 75.833]
                            },
                            "protanomaly": {
                                "r": [81.667, 18.333, 0],
                                "g": [33.333, 66.667, 0],
                                "b": [0, 12.5, 87.5]
                            },
                            "deuteranopia": {
                                "r": [62.5, 37.5, 0],
                                "g": [70, 30, 0],
                                "b": [0, 30, 70]
                            },
                            "deuteranomaly": {
                                "r": [80, 20, 0],
                                "g": [25.833, 74.167, 0],
                                "b": [0, 14.167, 85.833]
                            },
                            "tritanopia": {
                                "r": [95, 5, 0],
                                "g": [0, 43.333, 56.667],
                                "b": [0, 47.5, 52.5]
                            },
                            "tritanomaly": {
                                "r": [96.667, 3.333, 0],
                                "g": [0, 73.333, 26.667],
                                "b": [0, 18.333, 81.667]
                            },
                            "achromatopsia": {
                                "r": [29.9, 58.7, 11.4],
                                "g": [29.9, 58.7, 11.4],
                                "b": [29.9, 58.7, 11.4]
                            },
                            "achromatomaly": {
                                "r": [61.8, 32, 6.2],
                                "g": [16.3, 77.5, 6.2],
                                "b": [16.3, 32.0, 51.6]
                            }
                        }

                        static #hex2rgb(hex) {
                            let result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
                            return result ? {
                                r: parseInt(result[1], 16),
                                g: parseInt(result[2], 16),
                                b: parseInt(result[3], 16)
                            } : null;
                        }

                        static #rgb2hex(r, g, b) {
                            return ("#" + (1 << 24 | r << 16 | g << 8 | b).toString(16).slice(1)).toUpperCase();
                        }

                        filter(type, hex) {
                            if (Object.keys(ColorBlindness.#color_coefficients).includes(type)) {
                                let rgb = ColorBlindness.#hex2rgb(hex);
                                let filter_m = ColorBlindness.#color_coefficients[type];
                                return ColorBlindness.#rgb2hex(
                                    Math.round(filter_m["r"][0] * rgb["r"] / 100) + Math.round(filter_m["r"][1] * rgb["g"] / 100) + Math.round(filter_m["r"][2] * rgb["b"] / 100),
                                    Math.round(filter_m["g"][0] * rgb["r"] / 100) + Math.round(filter_m["g"][1] * rgb["g"] / 100) + Math.round(filter_m["g"][2] * rgb["b"] / 100),
                                    Math.round(filter_m["b"][0] * rgb["r"] / 100) + Math.round(filter_m["b"][1] * rgb["g"] / 100) + Math.round(filter_m["b"][2] * rgb["b"] / 100)
                                )
                            }
                            return hex
                        }
                    }
                </script>
                <!-- Script filter for colorblind people END -->
                <div class="input-group">
					<span class="input-group-text">
						<i class="bi bi-eyeglasses"></i>
					</span>
                    <select class="form-select">
                        <option value="normal" selected>Normal</option>
                        <option value="protanopia">Protanopia</option>
                        <option value="protanomaly">Protanomaly</option>
                        <option value="deuteranopia">Deuteranopia</option>
                        <option value="deuteranomaly">Deuteranomaly</option>
                        <option value="tritanopia">Tritanopia</option>
                        <option value="tritanomaly">Tritanomaly</option>
                        <option value="achromatopsia">Achromatopsia</option>
                        <option value="achromatomaly">Achromatomaly</option>
                    </select>
                </div>
                <div>
                    <button type="button" class="btn btn-light">
                        <i class="bi bi-sun"></i>
                    </button>
                    <button type="button" class="btn btn-light">
                        <i class="bi bi-circle-half"></i>
                    </button>
                </div>
                <button id="palette-gen-export-button" type="button"
                        class="btn btn-primary">{% trans "EXPORT AS" %}</button>
            </div>
        </div>
    </main>
    <!-- -----   Main End   ----- -->
{% endblock %}

{% block script %}
    <script src="{% static 'main/js/palette_generator.js' %}"></script>
{% endblock %}